<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.component.featureA"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AFeatureApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AFeatureActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>