<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.component.featureA"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".AFeatureApplication"
        android:allowBackup="true"
        android:label="@string/a_feature_name"
        android:supportsRtl="true"
        android:theme="@style/a_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AFeatureActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>